<div class="card">
    <div class="card-header">
        <h3>Estadísticas Breves</h3>
        <ul class="nav nav-pills card-header-tabs">
            <li class="nav-item">
                <a class="nav-link lead" href="/reportes/compras">Compras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/reportes/ventas">Ventas</a>
            </li>
            {{!-- <li class="nav-item">
                <a class="nav-link lead" href="" data-toggle="modal" data-target="#modalRepCompraCalendar"><i
                        class="fas fa-calendar-alt"></i></a>
            </li> --}}
        </ul>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col ">
                            <div class="row justify-content-center">
                                <h4>Total Clientes</h4>
                            </div>
                            <div class="row justify-content-center">
                                <h1><i class="fas fa-users fa-lg"></i></h1>
                            </div>
                        </div>
                        <div class="col col col-lg-4 text-center">
                            <h1><span
                                    class="badge rounded-pill bg-info text-dark {{!-- w-50 p-3 --}}">{{countCliente}}</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col ">
                            <div class="row justify-content-center">
                                <h4>Ventas Totales</h4>
                            </div>
                            <div class="row justify-content-center">
                                <h1><i class="fas fa-handshake fa-lg"></i></h1>
                            </div>
                        </div>
                        <div class="col col col-lg-4 text-center">
                            <h1><span class="badge rounded-pill bg-info text-dark ">{{countVenta}}</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col ">
                            <div class="row justify-content-center">
                                <h4>Deudas a Cobrar</h4>
                            </div>
                            <div class="row justify-content-center">
                                <h1><i class="fas fa-hand-holding-usd fa-lg"></i></h1>
                            </div>
                        </div>
                        <div class="col col col-lg-4 text-center">
                            <h1><span class="badge rounded-pill bg-info text-dark ">{{countDeudores}}</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







{{!---------------------------- MODALS --------------------------------}}
{{!---------------------------- MODALS --------------------------------}}
{{!---------------------------- MODALS --------------------------------}}

<div class="modal fade" id="modalRepCompraCalendar" tabindex="-1" role="dialog"
    aria-labelledby="modalRepCompraCalendarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRepCompraCalendarLabel">Rango de Fechas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/reportes/compras/calendar" method="POST">

                    <div class="form-group row">
                        <label for="inputname1" class="col-sm-3 col-form-label text-sm-center">Fecha de
                            Inicio</label>
                        <div class="col-sm mx-auto">
                            <input type="date" name="fechaInicioRepCompra" class="form-control" placeholder=""
                                id="inputname1" value="{{fechaInicioRepCompra}}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputname1" class="col-sm-3 col-form-label text-sm-center">Fecha
                            Final</label>
                        <div class="col-sm mx-auto">
                            <input type="date" name="fechaFinalRepCompra" class="form-control" placeholder=""
                                id="inputname1" value="{{fechaFinalRepCompra}}" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">
                                Ingresar Rango de Fechas
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>