<div class="col-sm-8 mx-auto">
<div class="card">
    <div class="card_header">
        <h3>Cobro Deuda</h3>
    </div>
    <div class="card_body">
        <form action ="/ventas/cobrodeuda/{{venta._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group row">
                <label for="inputname2" class="col-sm-3 col-form-label text-sm-center">Cliente</label>
                <div class="col-sm mx-auto">
                <input type = "text" name="seleccionCliente" class="form-control" placeholder="{{venta.seleccionCliente}}" id="inputname2"
                    readonly>                   
                </div>
            </div>
     <div class="input-group mb-2">                       
                <label for="inputname1" class="col-sm-2 col-form-label text-sm-center">Producto vendido</label>
            <div class="col-sm-6">
                <input type = "text" name="productoVendido" class="form-control" placeholder="{{venta.productoVendido}}" id="inputname1"
                    readonly>                   
            </div>
                <label for="inputname3" class="col-sm-2 col-form-label text-sm-center">Cantidad vendida</label>
            {{!-- <div class="col-sm-2"> --}}
                    <input type = "text" name="cantidadVendida" class="form-control" placeholder="{{venta.cantidadVendida}}" id="inputname3" 
                        readonly>                      
           {{!--  </div> --}}
           <div class="input-group-append">
                  <span class="input-group-text">[u]</span>       
            </div>  
        </div>   
             <div class="form-group row">              
                <label for="inputname4" class="col-sm-3 col-form-label text-sm-center">Precio total [Bs]</label>
                <div class="col-sm mx-auto">
                <input type = "text" name="precio" class="form-control" placeholder="{{venta.precio}}" id="inputname4"
                    readonly>                   
                </div>
                <label for="inputname4" class="col-sm-3 col-form-label text-sm-center">Saldo [Bs]</label>
                <div class="col-sm mx-auto">
                <input type = "text" name="saldo" class="form-control" placeholder="{{venta.saldo}}" id="inputname4"
                    readonly>                   
                </div>
            </div>
             <div class="form-group row">              
                <label for="inputname4" class="col-sm-3 col-form-label text-sm-center">Monto de Cobro</label>
                <div class="col-sm mx-auto">
                <input type = "number" name="montoCobrado" class="form-control" placeholder="{{montoCobrado}}" id="inputname4"
                    autofocus required>                   
                </div>
             </div>   
            <div class="form-group row">              
                <label for="inputname5" class="col-sm-3 col-form-label text-sm-center">Fecha del siguiente cobro</label>
                <div class="col-sm mx-auto">
                <input type = "datetime-local" name="fechaDelSigCobro" class="form-control" placeholder="{{fechaDelSigCobro}}" id="inputname5">                   
                </div>
            </div>
            <div class="form-group">
                <textarea name="descripcionVenta" class="form-control">
                    {{venta.descripcionVenta}}
                    </textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">
                    Realizar Cobro
                </button>
            </div>
        </form>
    </div>
</div>
</div> 
