<div class="card">
    <div class="card-header">
        <h3>Proveedores</h3>
        
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Lista</a>
      </li>
      <li class="nav-item">
        <a class="nav-link lead" href="/proveedores/add">+</a>
      </li>
    </ul>
  </div>
    <div class="card_body">
        <div class="table-responsive">
        <table class="table table-striped table-sm table-hover">
          <thead>
            <tr>
              <th>Nº</th>
              <th>Nombre</th>
              <th>Nit</th>
              <th>Contacto</th>
              <th>Direccion</th>
              <th>Descripcion</th>
            </tr>
          </thead>
          <tbody>
        {{#each listaProveedores}}
            <tr>
                
              <td></td>
              <td>{{nombre}}</td>
              <td>{{nit}}</td>
              <td>{{contacto}}</td>
              <td>{{direccion}}</td>
              <td>{{descripcion}}</td>
            </tr>
                
                    
        {{else}}
           <tr>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
        {{/each}}  
            </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

        

    </div>
</div>