<div class="container-fluid">
    <div class="row">
        {{>sidebar}}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            
            <div class="card">
            <div class="card-header">
                <h3>Categorias</h3>
                
            <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active">Lista</a>
            </li>
            <li class="nav-item">
                <a class="nav-link lead" href="" data-toggle="modal" data-target="#modalCATEGORIA"><i class="fas fa-plus-circle"></i></a>
            </li>
            </ul>
            </div>
                <div class="card_body">
                    <div class="table-responsive">
                    <table class="table table-striped table-sm table-hover">
                    <thead>
                        <tr>
                        <th>Nº</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each listaCategorias}}
                        <ol>
                        <tr>
                        <td>{{contador}}</td>
                        <td>{{nombreCategoria}}</td>
                        <td>{{descripcionCategoria}}</td>
                        <td><a href="/categorias/edit/{{_id}}"><i class="fas fa-edit"></i></a></td>
                        </tr>
                    </ol>     
                                
                    {{else}}
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        </tr>
                    {{/each}}  
                        </tbody>
                    </table>
                </div>
                </main>
            </div>
            </div>
                </div>
            </div>
        </main>


{{!---------------------------- MODALS --------------------------------}}
{{!---------------------------- MODALS --------------------------------}}
{{!---------------------------- MODALS --------------------------------}}

    <div class="modal fade" id="modalCATEGORIA" tabindex="-1" role="dialog" aria-labelledby="modalCATEGORIALabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCATEGORIALabel">Categoria Nueva</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action ="/categorias/add" method="POST">          
          <div class="form-group row">              
                <label for="inputname1" class="col-sm-3 col-form-label text-sm-center">Nombre</label>
                <div class="col-sm mx-auto">
                <input type = "text" name="nombreCategoria" class="form-control" placeholder="" id="inputname1" value="{{nombreCategoria}}"
                    autofocus>                   
                </div>
            </div>
            <div class="form-group">
                <textarea name="descripcionCategoria" class="form-control"
                placeholder="Informacion adicional" >{{descripcionCategoria}}</textarea>
            </div>
        <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
             <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">
                    Guardar nueva categoria
                </button>
             </div>
        </div>
        </form>
      </div>      
    </div>
  </div>
</div>
</div>
</div>
